@tailwind base;
@tailwind components;
@tailwind utilities;


.active{
    position: absolute;
    top: -60px;
    transition: transform .5s ease;
    transform: translateY(-60px);
}
.buttonbg{
    background: linear-gradient(to right, rgb(253, 210, 18), rgb(219, 70, 6));
    color: white;
}